*{
    margin:0;
    padding : 0;
    box-sizing: border-box;
}
body{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
a{
text-decoration: none;
color: black;
}
.nav{
width: 100%;
position: fixed;
top: 10px;
padding: 0;
display: flex;
align-items: center;
justify-content: flex-end;
}
.nav ul{
    display: flex;
    height: 40px;
    gap: 20px;
    list-style: none;
}
.nav ul li{
display: flex;
align-items: center;
justify-content: center;
}
.nav ul li a{
        display: grid;
        place-items: center;
        color: rgba(82,82,82,1.0);
        font-family: product sans;
        font-weight: 15px;
        text-decoration: name;
}
        #sixdg{
        width: 19px;
        position: relative;
}
        #sgbtn{
        height: 25px;
        width: 60px;
        background: #4285f4;
        outline: none;
        border: none;
        border-radius: 4px;
        color: rgba(241,241,241,0.88);
        cursor: pointer;
}
        .nav ul:nth-child(3){
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
}
.nav ul:nth-child(3):hover{
            background: #ccc;}
.nav ul:nth-child(1):hover{
            text-decoration: underline;}
.nav ul:nth-child(2):hover{
            text-decoration: underline;}
.goolelogo{ max-width: 300px; 
            width: 98vw;
            display: flex;
            align-items: center;
            justify-content: center;
}
.goolelogo img{
            width: 100%;
}
            #frmsrch{
            width: 97vw;
            max-width: 600px;
            position: relative;
            margin: 16px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
}
#txtsrch{
                width: 100%;
                height: 50px;
                padding: 1px 40px;
                border: 0.5px solid rgba(204,204,204,0.58);
                border-radius: 23px;
                outline: none;
}
#txtsrch:hover{box-shadow: 2px 4px 5px rgba(204,204,204,0.58) -2px -2px 5px rgba(204,204,204,0.58);}
#srchicon{
                width: 24px;
                position: absolute;
                left: 10px;
                top: 10px;}
                #micicon{width: 24px;
                position: absolute;
                right: 12px;
                top: 9px;}
                .btns{
                width: 100%;
                display: flex;
                align-items:content;
                justify-content: wrap;
                gap: 30px;
                align-items: center;
                }
    #submittxt , #feelbtn{width: 130px;
                    height: 34px;
                    border-radius: 1px;
                    border: none;}
                    .icon {width: 100%;
                        display: flex;
                        align-items:content;
                        justify-content: wrap;
                        gap: 30px;
                        align-items: center;
                    
                
    }
                    #txtface {
                        width: 30px;
                        align-content: flex-start;
                    }
                    #txtflip {
                        width: 30px;
                        align-content:center;
                    }
                    #txtadd {
                        width: 30px;
                        align-content:flex-end;}